.d-flex{
    display: flex;
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex; 
    display:-moz-box; 
    display:-ms-flexbox;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}


