/* margin style sheet guide*/
.mrg-left-10{
    margin-left: 10px;
}
.mrg-top-40{
    margin-top: 40px;
}
.mrg-top-20{
    margin-top: 20px;
}
.mrg-left-40{
    margin-left: 40px;
}
.mrg-left-20{
    margin-left: 20px;
}
.mrg-right-40{
    margin-right: 40px;
}
.mrg-top-14{
    margin-top: 14px;
}
/* padding style sheet guide*/